# Maven build folders
target/
# ... but not code generation targets
!tool/src/org/antlr/v4/codegen/target/

# MacOSX files
.DS_Store

# NetBeans user configuration files
nbactions*.xml
/nbproject/private/
*/nbproject/private/

# IntelliJ projects
*.ipr
*.iws
*.iml
.idea/

# Eclipse projects
.classpath
.project
.settings/
.metadata/

# Profiler results
*.hprof

# Playground
#/tool/playground/

.vscode/