# ignore Visual Studio user files
*.suo
*.csproj.user
*.sln.cache

# ignore C# build directories
[Dd]ebug/
[Rr]elease/
reference/.metadata/
reference/reference.net/
/runtime/CSharp/packages/

# ignore Java (Maven) build directory
tool/target/

# ignore NuGet output folders
/build/nuget/
